# --------------------------------------------------
# Application
# --------------------------------------------------
APP_ENV=development

# --------------------------------------------------
# Frontend Development Server
# --------------------------------------------------
FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173
